* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
}

.opciones {
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    transition: all .5s ease;
}

.opciones header {
    font-size: 22px;
    text-align: center;
    line-height: 70px;
    user-select: none;
}

.opciones ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    padding-left: 40px;
    box-sizing: border-box;
    color: black;
}

ul li:hover a {
    background-color: #6C7293;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;

}

.opciones ul a i {
    margin-right: 18px;
}

#check {
    display: none;
}

label #btn,
label #cancelar {
    position: absolute;
    cursor: pointer;
}

label #btn {
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: rgb(0, 0, 0);
    padding: 6px 12px;
    transition:all .5s ;
}

label #cancelar {
    z-index: 111;
    left: -195px;
    top: 17px;
    font-size: 30px;
    color: rgb(255, 255, 255);
    padding: 4px 9px;
    transition:all .5s  ease;
}

#check:checked~.opciones {
    left: 0;

}

#check:checked~label #btn {
    left: 250px;
    opacity: 0;
    pointer-events: none;
}
#check:checked~label #cancelar {
    left: 250px;
}


.lado2{
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.vertical {
    width: 500px;
    height: 400px;
}


.header {
    display: block;
    background-color: #232837;;
    width: 100%;
    height: 80px;
}

iframe {
    width: 1509px;
    height: 90vh;
    margin-left: 330px;
    border-color: white;
}
header{
    background-color: white;
}

a{
    text-decoration-line: none;
}